<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <script src="navbar.js"></script>
    <link rel="stylesheet" href="requests.css">
</head>
<body>
    <custom-navbar></custom-navbar>
    <div class="form-container">
        <div id="form-description">
            <h1>Requests</h1>
            <div id="short-line"></div>
            <p>Do you have a great idea for a mash up? Fill out the form below and we will make you your very own mash up sung by your favorite characters. The mash ups also include custom music.</p>
        </div>

        <form id="requests-form" th:action="@{/submitRequest}" th:object="${request}" method="post">
            <div id="contact-info">
                <h2>Contact Information</h2>
                <label for = "name">Name</label>
                <input type = "text" id = "name" name = "name" th:field="*{name}" required>
                <label for = "email">Email</label>
                <input type = "email" id = "email" name = "email" th:field="*{email}" required>
            </div>
            <div id="songs">
                <h2>Songs</h2>
                <label for = "amount-songs">Number of songs</label>
                <input type = "number" id = "amount-songs" name = "amount-songs" th:field="*{amountSongs}" required onchange="generateSongInputs()" min="1" max="3">
            <div id="song-inputs"></div>
            </div>
            <div id="additional-info">
                <h2>Additional Info</h2>
                <textarea id="additional-info" name="additional-info" th:field="*{additionalInfo}"></textarea>
            </div>
        </form>
        <button id="submit-request">Submit</button>
    </div>  
    <script src="requests.js"></script>
</body>
</html>